@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
.backgroundMain{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 15px;
}
.imgCellphone{
    display: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: #F4F4F4;
}
main{
    margin-bottom: 150px;
}
nav{
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
nav ul li{
    padding: 10px;   
    cursor: pointer;
    margin: 0px 100px 0px 100px;
    text-decoration: underline;
    list-style: none;
    font-family: "Red Hat Text", serif;
    font-size: 32px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homePage{
    display: flex;
    margin-top: 0px;
}
aside{
    margin: 5px;
    margin-top: 0px;
    width: 396px;
}
div.myimage{
    width: 391px;
    height: 530px;
    display: flex;
    align-items: end;
    justify-content: end;
}
.apresentation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 926px;
    height: 145px;
    margin-left: 5px;
}
.apresentation p{
    margin: 20px;
    font-family: "Saira", serif;
    font-size: 40px;
    font-weight: 400;
}
.apresentation p b{
    font-weight: 500;
    font-size: 45px;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    text-align: center;
    margin: 0px;
    margin-top: 10px;
    font-family: "Saira", serif;
    font-size: 35px;
    font-weight: 500;
}
.socialLayer1{
    display: flex;
    width: 800px;
    justify-content: space-around;
}
.socialLayer1 div{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialLayer2{
    display: flex;
    width: 800px;
    justify-content: space-around;
}
.socialLayer2 div{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social img{
    cursor: pointer;
}



.sobreMim{
    align-self: center;
    display: flex;
    justify-content: space-around;
    width: 1310px;
}
.sobreMimPhoto{
    width: 478px;
    height: 631px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobreMimTexto{
    text-align: right;
}
h1{
    text-align: center;
    margin: 0px;
    font-family: "Saira", serif;
    font-size: 35px;
    font-weight: 500;
}
.sobreP{
    width: 700px;
    height: 572px;
    display: flex;
    justify-content: center;
}
.sobreP p{
    text-align: right;
    margin: 30px;
    font-family: "Red Hat Text", serif;
    font-size: 23px;
    letter-spacing: 2.5px;
}
.tecnologias{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.haaa{
    display: flex;
    align-items: end;
}
.especificationTecnologia{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.especificationTecnologia h4{
    margin: 0px;
    font-family: "Saira", serif;
    font-size: 20px;
    font-weight: 500;
}
.especificationTecnologia div{
    width: 240px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textTecnologias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 150px;
}
.textTecnologias p{
    margin: 20px;
    font-family: "Red Hat Text", serif;
    font-size: 24px;
}
.projetos h1{
    text-align: left;
    margin-left: 20px
}
.containerProjetos{
    display: flex;
    justify-content: center;
}
.descriptionProjeto{
    width: 449px;
    height: 580px;
}
.descriptionProjeto h3{
    margin: 25px;
    font-family: "Saira", serif;
    font-size: 30px;
    font-weight: 500;
}
.descriptionProjeto p{
    margin: 25px;
    font-family: "Red Hat Text", serif;
    font-size: 24px;
    letter-spacing: 2px;
}
.imgProjeto{
    width: 850px;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgProjeto img{
    margin: 7px;
    cursor: pointer;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
footer p{
    margin: 25px;
    font-family: "Red Hat Text", serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.menuButton{
    align-self: flex-start;
}
.menuButton img{
    padding: 30px;
    cursor: pointer;
}
.navMenu{
    display: none;
    background: linear-gradient(to right, #bbb9b9, #f4f4f4f8);
    position: fixed;
    width: 50%;
    height: 100%;
    align-self: start;
    border-radius: 30p;
}
.navMenu img{
    padding: 25px;
    cursor: pointer;
}
.navMenu ul{
    position: relative;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.navMenu ul li{   
    cursor: pointer;
    text-decoration: underline;
    margin-top: 30px;
    list-style: none;
    font-family: "Red Hat Text", serif;
    font-size: 32px;
}
@media (max-width: 1400px) {
    aside{
        width: 296px;
    }
    div .myimage{
        width: 320px;
        height: 460px;
    }
    div .myimage img{
        width: 320px;
        height: 420px;
    }
    .apresentation{
        width: 616px;
        height: 145px;
        margin-left: 55px;
    }
    .apresentation p{
        margin: 10px;
        font-size: 30px;
        line-height: 43px;
    }
    .apresentation p b{
        font-weight: 500;
        font-size: 35px;
    }
    h2{
        margin-top: 8px;
        font-size: 30px;
    }
    .socialLayers{
        width: 616px;
        margin-left: 55px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .socialLayer1{
        width: 540px;
    }
    .socialLayer1 div{
        width: 120px;
        height: 120px;
    }
    .socialLayer2{
        width: 540px;
    }
    .socialLayer2 div{
        width: 120px;
        height: 120px;
    }
    .social img{
        width: 90px;
        height: 90px;
    }
    .socialLayer2 div:first-child img{
        width: 110px;
        height: 110px;
    }
    .socialLayer2 div:last-child img{
        width: 80px;
        height: 80px;
    }
    .sobreMim{
        width: 1000px;
        right: 0px;
        align-self: center;
    }
    .sobreMimPhoto{
        width: 378px;
        height: 531px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sobreMimPhoto img:first-child{
        width: 340px;
    }
    .sobreMimTexto{
        text-align: right;
    }
    h1{
        font-size: 30px;
    }
    .sobreP{
        width: 500px;
        height: 487px;
    }
    .sobreP p{
        text-align: right;
        margin: 15px;
        font-size: 19px;
        letter-spacing: 1px;
    }
    .especificationTecnologia h4{
        margin: 0px;
        font-family: "Saira", serif;
        font-size: 20px;
        font-weight: 500;
    }
    .especificationTecnologia div{
        width: 200px;
        height: 120px;
    }
    .especificationTecnologia div img{
        width: 80%;
        height: 80%;
    }
    .tecnologias div:nth-of-type(3) .especificationTecnologia div img{
        width: 100px;
        height: 100px;
    }
    .tecnologias div:nth-of-type(4) .especificationTecnologia div img{
        width: 80px;
        height: 80px;
    }
    .textTecnologias{
        width: 550px;
        height: 120px;
    }
    .textTecnologias p{
        margin: 20px;
        font-size: 20px;
    }
    .projetos h1{
        text-align: left;
        margin-left: 20px
    }
    .descriptionProjeto{
        width: 369px;
        height: 400px;
    }
    .descriptionProjeto h3{
        margin: 15px;
        font-size: 25px;
        font-weight: 500;
    }
    .descriptionProjeto p{
        margin: 25px;
        font-size: 19px;
        letter-spacing: 3px;
    }
    .imgProjeto{
        width: 570px;
        height: 400px;
    }
    .imgProjeto img:nth-child(1){
        width: 510px;
        margin: 0px;
    }
}
@media (max-width: 1020px){
    .imgCellphone{
        display: block;
    }
    nav{
        display: none;
    }
    aside{
        width: 240px;
    }
    div .myimage{
        width: 250px;
        height: 405px;
    }
    div .myimage img{
        width: 290px;
        height: 380px;
    }
    .apresentation{
        width: 466px;
        height: 100px;
        margin-left: 25px;
    }
    .apresentation p{
        margin: 10px;
        font-size: 24px;
        line-height: 33px;
    }
    .apresentation p b{
        font-weight: 500;
        font-size: 25px;
    }
    h2{
        margin-top: 8px;
        margin-left: 25px;
        font-size: 25px;
    }
    .socialLayers{
        width: 466px;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .socialLayer1{
        width: 466px;
    }
    .socialLayer1 div{
        width: 120px;
        height: 120px;
    }
    .socialLayer2{
        width: 466px;
    }
    .socialLayer2 div{
        width: 120px;
        height: 120px;
    }
    .social img{
        width: 90px;
        height: 90px;
    }
    .socialLayer2 div:first-child img{
        width: 100px;
        height: 100px;
    }
    .socialLayer2 div:last-child img{
        width: 70px;
        height: 70px;
    }
    .sobreMim{
        width: 716px;
        flex-direction: column;
        align-items: center;
        right: 0px;
        align-self: center;
    }
    .sobreMimPhoto{
        width: 520px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobreMimPhoto img:first-child{
        display: none;
    }
    .sobreMimPhoto img:nth-child(2){
        width: 480px;
    }
    .sobreMimTexto{
        text-align: right;
    }
    .sobreMimTexto h1{
        display: none;
    }
    h1{
        font-size: 25px;
    }
    .sobreP{
        width: 700px;
        height: 335px;
    }
    .sobreP p{
        text-align: center;
        margin: 15px;
        font-size: 19px;
        letter-spacing: 1px;
    }
    .especificationTecnologia h4{
        margin: 0px;
        font-family: "Saira", serif;
        font-size: 15px;
        font-weight: 500;
    }
    .especificationTecnologia div{
        width: 200px;
        height: 120px;
    }
    .especificationTecnologia div img{
        width: 80%;
        height: 80%;
    }
    .tecnologias div:nth-of-type(3) .especificationTecnologia div img{
        width: 90px;
        height: 90px;
    }
    .tecnologias div:nth-of-type(4) .especificationTecnologia div img{
        width: 70px;
        height: 70px;
    }
    .textTecnologias{
        width: 450px;
        height: 120px;
    }
    .textTecnologias p{
        margin: 20px;
        font-size: 19px;
    }
    .projetos h1{
        text-align: center;
        margin-left: 0px
    }
    .containerProjetos{
        flex-direction: column;
        align-items: center;
    }
    .descriptionProjeto{
        order: 1;
        width: 670px;
        height: 320px;
    }
    .descriptionProjeto h3{
        text-align: center;
        margin: 10px;
        font-size: 23px;
        font-weight: 500;
    }
    .descriptionProjeto p{
        margin: 25px;
        font-size: 19px;
        letter-spacing: 3px;
    }
    .imgProjeto{
        width: 570px;
        height: 320px;
    }
    .imgProjeto img:nth-child(1){
        width: 510px;
        margin: 0px;
    }
}
@media (max-width: 765px){
    body{
        background-color: aqua;
    }
    aside{
        width: 170px;
    }
    div .myimage{
        width: 170px;
        height: 305px;
    }
    div .myimage img{
        width: 170px;
        height: 238px;
    }
    .apresentation{
        width: 280px;
        height: 100px;
        margin-left: 15px;
    }
    .apresentation p{
        margin: 3px;
        margin-left: 8px;
        font-size: 16px;
        line-height: 20px;
    }
    .apresentation p b{
        font-size: 18px;
    }
    h2{
        margin-top: 0px;
        margin-left: 15px;
        font-size: 20px;
    }
    .socialLayers{
        width: 280px;
        margin-left: 15px;
    }
    .socialLayer1{
        width: 280px;
    }
    .socialLayer1 div{
        width: 70px;
        height: 70px;
    }
    .socialLayer2{
        width: 280px;
    }
    .socialLayer2 div{
        width: 70px;
        height: 70px;
    }
    .social img{
        width: 55px;
        height: 55px;
    }
    .socialLayer2 div:first-child img{
        width: 70px;
        height: 70px;
    }
    .socialLayer2 div:last-child img{
        width: 50px;
        height: 50px;
    }
    .sobreMim{
        width: 450px;
        flex-direction: column;
        align-items: center;
        right: 0px;
        align-self: center;
    }
    .sobreMimPhoto{
        width: 400px;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobreMimPhoto img:first-child{
        display: none;
    }
    .sobreMimPhoto img:nth-child(2){
        width: 380px;
        height: 220px;
    }
    .sobreMimTexto{
        text-align: right;
    }
    .sobreMimTexto h1{
        display: none;
    }
    h1{
        margin-top: 15px;
        font-size: 20px;
    }
    .sobreP{
        width: 460px;
        height: 335px;
    }
    .sobreP p{
        text-align: center;
        margin: 15px;
        font-size: 16.3px;
        letter-spacing: 0px;
    }
    .especificationTecnologia h4{
        margin: 0px;
        font-family: "Saira", serif;
        font-size: 15px;
        font-weight: 500;
    }
    .especificationTecnologia div{
        width: 140px;
        height: 100px;
    }
    .especificationTecnologia div img{
        width: 70%;
        height: 70%;
    }
    .tecnologias div:nth-of-type(3) .especificationTecnologia div img{
        width: 80px;
        height: 80px;
    }
    .tecnologias div:nth-of-type(4) .especificationTecnologia div img{
        width: 60px;
        height: 60px;
    }
    .textTecnologias{
        width: 300px;
        height: 100px;
    }
    .textTecnologias p{
        margin: 20px;
        font-size: 16.3px;
    }
    .descriptionProjeto{
        order: 1;
        width: 460px;
        height: 200px;
    }
    .descriptionProjeto h3{
        text-align: center;
        margin: 10px;
        font-size: 19px;
        font-weight: 500;
    }
    .descriptionProjeto p{
        margin: 25px;
        font-size: 16.5px;
        letter-spacing: 3px;
    }
    .imgProjeto{
        width: 440px;
        height: 240px;
    }
    .imgProjeto img:nth-child(1){
        width: 380px;
        margin: 0px;
    }
}
}