@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
.backgroundMain{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 15px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: #F4F4F4;
}
main{
    margin-bottom: 150px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
nav ul li{
    padding: 10px;   
    cursor: pointer;
    margin: 0px 100px 0px 100px;
    text-decoration: underline;
    list-style: none;
    font-family: "Red Hat Text", serif;
    font-size: 32px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homePage{
    display: flex;
    margin-top: 0px;
}
aside{
    margin: 5px;
    margin-top: 0px;
    width: 396px;
}
div.myimage{
    width: 391px;
    height: 530px;
}
.apresentation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 926px;
    height: 145px;
    margin-left: 5px;
}
.apresentation p{
    margin: 20px;
    font-family: "Saira", serif;
    font-size: 40px;
    font-weight: 400;
}
.apresentation p b{
    font-weight: 500;
    font-size: 45px;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    text-align: center;
    margin: 0px;
    margin-top: 10px;
    font-family: "Saira", serif;
    font-size: 35px;
    font-weight: 500;
}
.socialLayer1{
    display: flex;
    width: 800px;
    justify-content: space-around;
}
.socialLayer1 div{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialLayer2{
    display: flex;
    width: 800px;
    justify-content: space-around;
}
.socialLayer2 div{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social img{
    cursor: pointer;
}



.sobreMim{
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    width: 1310px;
    position: relative;
    right: 20px;
}
.sobreMimPhoto{
    width: 478px;
    height: 631px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobreMimTexto{
    text-align: right;
}
h1{
    text-align: center;
    margin: 0px;
    font-family: "Saira", serif;
    font-size: 35px;
    font-weight: 500;
}
.sobreP{
    width: 700px;
    height: 572px;
    display: flex;
    justify-content: center;
}
.sobreP p{
    text-align: right;
    margin: 30px;
    font-family: "Red Hat Text", serif;
    font-size: 23px;
    letter-spacing: 2.5px;
}
.tecnologias{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.haaa{
    display: flex;
    align-items: end;
}
.especificationTecnologia{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.especificationTecnologia h4{
    margin: 0px;
    font-family: "Saira", serif;
    font-size: 20px;
    font-weight: 500;
}
.especificationTecnologia div{
    width: 240px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textTecnologias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 150px;
}
.textTecnologias p{
    margin: 20px;
    font-family: "Red Hat Text", serif;
    font-size: 24px;
}
.projetos h1{
    text-align: left;
    margin-left: 20px
}
.containerProjetos{
    display: flex;
    justify-content: center;
}
.descriptionProjeto{
    width: 449px;
    height: 580px;
}
.descriptionProjeto h3{
    margin: 25px;
    font-family: "Saira", serif;
    font-size: 30px;
    font-weight: 500;
}
.descriptionProjeto p{
    margin: 25px;
    font-family: "Red Hat Text", serif;
    font-size: 24px;
    letter-spacing: 2px;
}
.imgProjeto{
    width: 850px;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgProjeto img{
    margin: 7px;
    cursor: pointer;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
footer p{
    margin: 25px;
    font-family: "Red Hat Text", serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.menuButton{
    align-self: flex-start;
}
.menuButton img{
    padding: 30px;
    cursor: pointer;
}
.navMenu{
    display: none;
    background: linear-gradient(to right, #bbb9b9, #f4f4f4f8);
    position: fixed;
    width: 50%;
    height: 100%;
    align-self: start;
    border-radius: 30p;
}
.navMenu img{
    padding: 25px;
    cursor: pointer;
}
.navMenu ul{
    position: relative;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.navMenu ul li{   
    cursor: pointer;
    text-decoration: underline;
    margin-top: 30px;
    list-style: none;
    font-family: "Red Hat Text", serif;
    font-size: 32px;
}
